{% include './base.html' %}

{% block title %}
<title>Mascotas</title>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <h1 class="text-center">Mascotas</h1>
</div>

<div class="container text-center mt-3">
    <div class="container d-flex">
        <div class="col">
            <h4>Nombre</h4>
        </div>
        <div class="col">
            <h4>Tipo de mascota</h4>
        </div>
        <div class="col">
            <h4>Fecha Nacimiento</h4>
        </div>
        <div class="col">
            <h4>Acciones</h4>
        </div>
    </div>

    {% for pet in pets %}
    <div class="container d-flex mt-2 mb-2 pt-2 pb-2 border border-primary-subtle rounded">
        <div class="col">
            {{ pet.pet_name }}
        </div>
        <div class="col">
            {{ pet.type_pet }}
        </div>
        <div class="col">
            {{ pet.date_birth_pet|date:"j F Y" }}
        </div>
        <div class="col">
            <div>
                <a href="{% url 'pet_edit' pet.id %}" style="text-decoration: none;" class="me-2">
                    <i class="fa-solid fa-pen-to-square fs-3 text-success"></i>
                </a>
                <a href="{% url 'pet_delete' pet.id %}" style="text-decoration: none;">
                    <i class="fa-solid fa-trash fs-3 text-danger"></i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container d-flex justify-content-around mt-4 mb-4">
    <a href="{% url 'home' %}">
        <button type="button" class="btn btn-primary">Atras</button>
    </a>
    <a href="{% url 'pet_create' %}">
        <button type="button" class="btn btn-primary">Agregar Mascota</button>
    </a>
</div>

{% else %}
<h3>No existe una sesión activa</h3>
{% endif %}

{% endblock %}