{% load static %}

{% block content %}
<div class="container-fluid d-flex flex-wrap justify-content-center">
    <a href="{% url 'user' %}" style="text-decoration: none;">
        <div class="card d-flex flex-row justify-content-center align-items-center m-3 text-bg-primary"
            style="width: 18rem; height: 8rem;">
            <i class="fa-solid fa-user fs-2 me-2"></i>
            <h2 class="mb-0">Mis datos</h2>
        </div>
    </a>
    <a href="{% url 'pet' %}" style="text-decoration: none;">
        <div class="card d-flex flex-row justify-content-center align-items-center m-3 text-bg-primary"
            style="width: 18rem; height: 8rem;">
            <i class="fa-solid fa-paw fs-2 me-2"></i>
            <h2 class="mb-0">Mis mascotas</h2>
        </div>
    </a>
    <a href="/turn/" style="text-decoration: none;">
        <div class="card d-flex flex-row justify-content-center align-items-center m-3 text-bg-primary"
            style="width: 18rem; height: 8rem;">
            <i class="fa-solid fa-calendar-days fs-2 me-2"></i>
            <h2 class="mb-0">Mis turnos</h2>
        </div>
    </a>
    <a href="/turn/create/" style="text-decoration: none;">
        <div class="card d-flex flex-row justify-content-center align-items-center m-3 text-bg-primary"
            style="width: 18rem; height: 8rem;">
            <i class="fa-solid fa-circle-plus fs-2 me-2"></i>
            <h2 class="mb-0">Solicitar turno</h2>
        </div>
    </a>
</div>

{% endblock %}